<h2>Search NASA.gov Images</h2>

<p>
  Enter in your search param to search the Nasa Images API
</p>

<%= form_tag(searches_path, method: :post) do |f| %>
  <%= text_field_tag :search, params[:search] %>
  <%= submit_tag "Search" %>
<% end %>

<hr>

<div class="row">
  <div class="col-md-3">
    <h4>Previous Searches:</h4>
    <% @previous_searches.each do |search| %>
      <li>
        <%= link_to search.query, searches_path(search: search.query) %>
      </li>
    <% end %>
  </div>
  <div class="col-md-9">
    <% if @results.present? %>
      <% if @search_activity.any? %>
        <h5>Previous Searches for <%= params[:search] %></h5>
        <% @search_activity.each do |search| %>
          Searched On: <%= search.created_at %><br / />
        <% end %>
      <% end %>

      <hr />
      Rendering Results:
      <%= @results %>
    <% else %>
      No results found, try searching :)
    <% end  %>
  </div>
</div>
